<style type="text/css">
  /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */



</style><footer class="footer">
      <div class="container">
        <p class="text-muted">Game Comparer is not affiliated with Valve</p>
      </div>
</footer>