<html>
    <head>
        <meta charset="UTF-8">
        <title>Game Info</title>

         {% load staticfiles %}
         <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %} ">

    </head>
    <body>

        <h1>Games</h1>

        <div class="table-responsive">

{#          <table class="table">#}
{#              <thead>#}
{#                <tr>#}
{#                  <th>Game Name</th>#}
{#                  <th>Count</th>#}
{#                  <th>Image Logo URL</th>#}
{#                </tr>#}
{#              </thead>#}
{#              <tbody>#}
{#                {% for game in game_list %}#}
{#                    <tr>#}
{#                        <td>#}
{#                            {{ game.name }} <br />#}
{#                            <img src="{{ game.img_logo_url }}">#}
{#                        </td>#}
{#                         <td>{{ game.count }}</td>#}
{#                        <td>#}
{#                            {% for friend in game.friend_info %}#}
{#                                <p>#}
{#                                    {{ friend.friend_name }} <br>#}
{#                                    <img src="{{ friend.avatar }}">#}
{#                                </p>#}
{#                            {% endfor %}#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#              </tbody>#}
{#          </table>#}

         {% for gl in game_list %}
             <h3>Count: {{ gl.count }}</h3>
            <table class="table">
                  <thead>
                    <tr>
                      <th>Game Name</th>
                      <th>Count</th>
                      <th>Image Logo URL</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for game in gl.games %}
                        <tr>
                            <td>
                                {{ game.name }} <br />
                                <img src="{{ game.img_logo_url }}">
                            </td>
                             <td>{{ game.count }}</td>
                            <td>
                                {% for friend in game.friend_info %}
                                    <p>
                                        {{ friend.friend_name }} <br>
                                        <img src="{{ friend.avatar }}">
                                    </p>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
              </table>
         {% endfor %}


        </div>
    </body>
</html>